[Unit]
Description=Volition isolated browser for project %i
Requires=volition-project-browser-kasm@%i.service
Requires=volition-project-browser-chromium@%i.service
After=volition-project-browser-kasm@%i.service
After=volition-project-browser-chromium@%i.service
