[Unit]
Description=Watch the Volition persistent browser

[Timer]
OnBootSec=20s
OnUnitActiveSec=20s
AccuracySec=2s
Unit=volition-browser-ensure.service
Persistent=true

[Install]
WantedBy=timers.target
